*{
    box-sizing: border-box;
    font-family: cursive;
}
body{
    margin:0.2em;
    padding: 0.2em;
}

ul{
    display:flex;
}
.carousel-item {
    height: 550px;
  }

  .p-2 {
    margin : 0.3em;
    padding: .7rem!important;
    font-size: 23px;
}
#about-sec
{
    font-size: 23px;
    margin:1em;
    display: block;
    margin: auto;
    width: 10rem;
    margin-bottom: 0px;
    margin-top: 10px;
}
#head-sec
{
    margin-bottom:2em;
}
#project-sec
{
    font-size: 23px;
    margin: 1em;
    display: block;
    margin: auto;
    width: 10rem;
    margin-bottom: 40px;
    margin-top: 50px;
}
}
#flex-galllery
{
    display:flex;
    flex-wrap: wrap;
    
}
#contact-sec
{
    font-size: 23px;
    margin:1em;
    display:block;
    margin:auto;
    width: 10rem;
    margin-bottom: 40px;
    margin-top:50px;
}
.form-group
{
    margin:1em;
}
.btn
{
    margin:1em;
}
.d-flex{
    background-color: #84888b;
    border-color: black;
}

.bd-highlight:hover
{
background-color: black;
color: white;
}

.carousel-caption div
{
    position: absolute;
    bottom: 13.25rem;
    left:40%;
    color:black
}